<!-- TODO:GAME- 5 rooms -->
<section class="se_vii py_80" id="game">
  <div class="container">
    <div class="section_title">
      <div class="row align-items-end">
        <div class="col-xl-4 col-lg-5 mb-lg-0 mb-2" data-aos="zoom-in-right" data-aos-delay="100">
          <h3 id="instrucciones" class="title mb-0">INSTRUCCIONES</h3>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-10 pr-lg-3 pb-lg-5 mb-lg-0 mb-4" data-aos="zoom-in-up" data-aos-delay="100">
          <div class="box"></div>
          <!-- LAYER NR. 1 -->
          <h4>1. Cada juego se desarrolla en un espacio ambientado según su tema.</h4>
          <hr>
          <!-- LAYER NR. 2 -->
          <h4>2. El juego comienza en el momento en el que todo el equipo <br> entráis en la habitación. </h4>
          <hr>
          <!-- LAYER NR. 2 -->
          <h4>3. Deberéis resolver todo tipo de enigmas, puzles y claves <br> siguiendo misteriosas pistas, que os conducirán a la salida. </h4>
          <hr>
          <!-- LAYER NR. 3 -->
          <h4>4. Disponéis de 60 minutos para superar la prueba. </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- buttons -->
  <div class="buttons d-flex align-items-center justify-content-center" data-aos="zoom-in-up" data-aos-delay="300">
    <a href="#" class="theme_primary_fill_btn text-uppercase">Empezar</a>
  </div>
</section>
