/* SCROLL BAR */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(41, 199, 173, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
