<!-- GAME OPTIONS-->
<section class="se_iv py_80 bg_2" id="game-options">
  <div class="container">
    <ul class="navbar_links list-unstyled order-2 mb-0 d-lg-flex align-items-center text-uppercase">
    <!-- TODO:INSTRUCCIONES -->
      <li class="navbar_link">
        <div class="buttons" routerLinkActive="active">
          <a routerLink="/main/games/instructions" class="theme_primary_fill_btn text-uppercase">INSTRUCCIONES</a>
        </div>
      </li>
        <!-- TODO:SALAS -->
      <li class="navbar_link">
        <div class="buttons" routerLinkActive="active">
          <a routerLink="/main/games/room" class="theme_primary_fill_btn text-uppercase">SALAS </a>
        </div>
      </li>
    <!-- TODO:ALARMCLOCK-->
      <li class="navbar_link">
        <div class="buttons">
          <a href="#" class="theme_primary_fill_btn text-uppercase">ALARMCLOCK</a>
        </div>
      </li>
       <!-- TODO:VOLUME -->
      <li class="navbar_link">
        <div class="buttons">
          <a href="#" class="theme_primary_fill_btn text-uppercase">VOLUMEN</a>
            <!-- <audio controls volume="0.9" id="myAudio">  Your browser does not support the audio element.</audio>   -->
        </div>
      </li>
    <!-- TODO:PISTAS -->
      <li class="navbar_link">
        <div class="buttons">
          <a href="#" class="theme_primary_fill_btn text-uppercase">PISTAS</a>
        </div>
      </li>
    <!-- TODO:CHAT-->
     <li class="navbar_link">
       <div class="buttons">
        <a href="#" class="theme_primary_fill_btn text-uppercase">CHAT</a>
      </div>
     </li>
    <!-- TODO:CODIGO -->
       <li class="navbar_link">
        <div class="buttons">
          <a href="#" class="theme_primary_fill_btn text-uppercase">CODIGO</a>
        </div>
       </li>
    </ul>
  </div>
</section>
