<!-- TODO:CHAT -->
<div class="content">
  <div class="row">
    <div class="col-lg-10 pr-lg-3 pb-lg-5 mb-lg-0 mb-4" data-aos="zoom-in-up" data-aos-delay="100">
      <div class="box"></div>
    </div>
    <div class="section_title">
      <div class="row align-items-end">
        <h3 class="title mb-0">Chat</h3>
      </div>
      <div class="box">
        <div id='bodybox'>
          <div id='chatboarder'>
            <p id="chatlog10"class="chatlog">&nbsp;</p>
            <p id="chatlog9" class="chatlog">&nbsp;</p>
            <p id="chatlog8" class="chatlog">&nbsp;</p>
            <p id="chatlog7" class="chatlog">&nbsp;</p>
            <p id="chatlog6" class="chatlog">&nbsp;</p>
            <p id="chatlog5" class="chatlog">&nbsp;</p>
            <p id="chatlog4" class="chatlog">&nbsp;</p>
            <p id="chatlog3" class="chatlog">&nbsp;</p>
            <p id="chatlog2" class="chatlog">&nbsp;</p>
            <p id="chatlog1" class="chatlog">&nbsp;</p>
            <input type="text" name="chat" id="chatbox">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
